{
  "openapi": "3.1.0",
  "info": {
    "title": "Weft Platform API",
    "version": "1.0.0",
    "description": "Control-plane and Repos API for Weft: git-shaped storage served from object storage. Git smart-HTTP endpoints (clone/fetch/push at /{org}/{repo}.git) speak the standard git wire protocol and are not described here. Errors return JSON {\"error\": \"…\"} with the matching status. Optimistic-concurrency conflicts return 409 with the current tip."
  },
  "servers": [
    {
      "url": "https://api.stratum.dev"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Token of the form weft_<id>_<secret>. Scopes: org:admin, org:read, repo:read, repo:write. Repo-bound tokens are restricted to one repo."
      },
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "stratum_session",
        "description": "Browser session from POST /v1/auth/login. An alternative to a bearer token for the dashboard; a bearer token wins when both are presented. Routes under /v1/auth use this scheme."
      }
    },
    "schemas": {
      "RunnerPolicy": {
        "type": "object",
        "properties": {
          "hosted": {
            "type": "string",
            "enum": [
              "allowed",
              "disabled"
            ]
          },
          "self_hosted": {
            "type": "string",
            "enum": [
              "all",
              "selected",
              "disabled"
            ]
          },
          "self_hosted_repos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Repository names, sorted. Only consulted under `selected`, but returned always so a dashboard switching back still has the list somebody chose."
          }
        }
      },
      "RunnerGroup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "repo_access": {
            "type": "string",
            "enum": [
              "all",
              "selected"
            ]
          },
          "allow_public": {
            "type": "boolean",
            "description": "Whether public repositories may reach the machines in this group. False by default, and that default is the security property rather than a preference: a public repository can be forked, and a fork's change carries its own `run:` lines."
          },
          "is_default": {
            "type": "boolean"
          },
          "repos": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Repository names. Empty under `repo_access: all`."
          },
          "runners": {
            "type": "integer",
            "description": "How many live machines are in it."
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "updated_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Runner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "What this machine will match. The server always adds `self-hosted`, the OS and the architecture to whatever custom labels it offered."
          },
          "os": {
            "type": "string",
            "enum": [
              "linux",
              "macos",
              "windows"
            ]
          },
          "arch": {
            "type": "string",
            "enum": [
              "x64",
              "arm64"
            ]
          },
          "version": {
            "type": "string"
          },
          "ephemeral": {
            "type": "boolean",
            "description": "Registered to run one job and then de-register."
          },
          "group": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "state": {
            "type": "string",
            "enum": [
              "online",
              "busy",
              "offline"
            ],
            "description": "Derived, never stored: `busy` if a running job points at it, else `online` if it called within the last 60 seconds, else `offline`. There is no status column for a crashed process to leave lying."
          },
          "last_seen_at": {
            "type": "integer",
            "format": "int64"
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          },
          "job": {
            "type": [
              "object",
              "null"
            ],
            "description": "What it is running right now, or null.",
            "properties": {
              "run_id": {
                "type": "string"
              },
              "job_id": {
                "type": "string",
                "description": "The workflow job's row id — what a link into the run needs."
              },
              "key": {
                "type": "string",
                "description": "The cell's human name, e.g. `test (linux)`."
              },
              "repo": {
                "type": "string",
                "description": "The repository's name — not its id. A run is addressed by `owner/repo`, so this is what a link to the build needs."
              }
            }
          }
        }
      },
      "Repo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "native",
              "mirror"
            ]
          },
          "public": {
            "type": "boolean"
          },
          "stored_bytes": {
            "type": "integer",
            "description": "What this repository holds in the object store, in bytes, as of the last push or storage sweep. For a private repository it is what the organization's storage meter counts, averaged over the billing period; a public repository's storage is never counted. Precision is one push: the push gate checks the bytes it is about to write against the pool and the spend limit before it writes."
          },
          "default_branch": {
            "type": "string"
          },
          "origin_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Origin identity for a mirror — a fetchable URL for the generic provider, or \"owner/name\" for the GitHub App provider. Null for native repos."
          },
          "last_sync_at": {
            "type": [
              "integer",
              "null"
            ]
          },
          "last_synced_commit": {
            "type": [
              "string",
              "null"
            ]
          },
          "sync_error": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "integer"
          },
          "clone_url": {
            "type": "string",
            "description": "HTTPS git remote for this repo."
          },
          "ssh_clone_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "SSH git remote (ssh://git@host:port/org/repo.git), or null when the deployment has no SSH front door configured."
          },
          "origin_provider": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "github",
              "generic",
              null
            ],
            "description": "Origin integration backing a mirror; null for native repos."
          },
          "origin_installation": {
            "type": [
              "string",
              "null"
            ],
            "description": "GitHub App installation id used to mint fetch credentials for this mirror; null unless origin_provider is \"github\"."
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "homepage": {
            "type": [
              "string",
              "null"
            ],
            "description": "The project's own address on the web, shown in the repository's About panel. Always an absolute http:// or https:// URL, or null — a scheme-less \"example.com\" is refused rather than repaired, because prepending a scheme is wrong in exactly the case that matters: a relative URL resolving against this host, wearing the project's name. Empty and whitespace-only are stored as null, so \"no homepage\" has one encoding rather than two."
          },
          "fork_count": {
            "type": "integer",
            "description": "Public repositories forked directly from this one. The count a caller may see, not a stored total — a fork can be made private after the fact, so publishing the stored number would reveal how many private forks exist."
          },
          "watcher_count": {
            "type": "integer",
            "description": "People subscribed to everything that happens here. Counts only the \"all\" watch level: the default subscription is stored as no row at all, so counting the table would rise when somebody chose to be left alone. Public, and on this view rather than on .../watch — that endpoint is the caller's own setting and refuses a stranger, so a masthead reading it would have no number to draw until sign-in and then grow one."
          },
          "fork_state": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "pending",
              "ready",
              "failed",
              null
            ],
            "description": "Fork preparation state; absent on a repository that is not a fork. A fork's row exists immediately and its storage pointers a moment later, which is why forking answers 202."
          },
          "org": {
            "type": "string",
            "description": "The namespace this repository is in, by name. The row carries org_id, which is no use to a client: after forking into 'wherever I belong', the answer to 'where did it go' is a name."
          },
          "commits": {
            "type": [
              "integer",
              "null"
            ],
            "description": "How many commits are reachable from the default branch's tip — every parent of every commit, as GitHub counts — as of the last time the compaction job that follows every write counted them. Null until it has. Stored rather than computed on the request: a repository page must not walk history to print a number."
          },
          "commits_tip": {
            "type": [
              "string",
              "null"
            ],
            "description": "The commit `commits` was counted from. A client that knows the current tip compares the two and shows the number only while they agree, rather than printing a count that is a push behind as though it were current."
          },
          "commits_exact": {
            "type": "boolean",
            "description": "False when the walk stopped at STRATUM_COMMIT_COUNT_CAP (default 100000) with history still to go; the true number is then at least `commits`. True when there is no count yet, so a client has one flag to read."
          },
          "fork_parent": {
            "type": [
              "string",
              "null"
            ],
            "description": "owner/name of what this was forked from, when the viewer may see it. Null covers three different facts on purpose: not a fork, upstream deleted and this promoted, or an upstream this viewer may not see — which is why it cannot be derived client-side from an id."
          },
          "viewer_admin": {
            "type": "boolean",
            "description": "Whether the caller may administer this repository — visibility, default branch, branch protections, access. Answered by the server because the two authorities differ: patch and the protections routes accept a per-repo admin grant, while the access listing requires org-wide admin, so a client inferring one from the other hides the settings surface from somebody entitled to it. false for an anonymous reader."
          },
          "viewer_member": {
            "type": "boolean",
            "description": "Whether the caller holds a role on this repository \u2014 an organization membership or a per-repo grant \u2014 as opposed to reading it because it is public. The distinction only exists on a public repository and is what the Insights tab turns on: a repository's traffic belongs to the people who own it. Weaker than `viewer_write`: the `viewer` role is a member who may not push. false for an anonymous reader and for a signed-in stranger alike."
          },
          "viewer_write": {
            "type": "boolean",
            "description": "Whether the caller may push here, and so whether they may open a change whose commits are already in this repository. Distinct from viewer_admin: a member writes without administering, and an outside contributor reads without either. Answered by the server because it is the scope POST /changes actually checks before refusing a change that names no source — a client guessing it either hides the form from somebody who may use it, or offers one to a stranger and refuses them after they have filled it in. false for an anonymous reader."
          },
          "write_blocked": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why nobody may write to this repository right now — the sentence a push is refused with, beginning `quota:` — or null when writes are allowed. About the repository and not the caller, so a page can say read-only to a reader too, and folded into viewer_write, which is false whenever this is set. The case is a private repository on an organization whose subscription has ended, or one with no card on file yet: it used to look exactly like any other repository until git push answered 402 with a sentence nobody had seen."
          },
          "push": {
            "type": [
              "object",
              "null"
            ],
            "description": "For a mirror: whether a push to it is forwarded to its origin, and if not, why. null for a native repository. `forwarding` is the answer; `blocked` is the sentence a push would be refused with; `needs_permission` with `approve_url` is an installation that predates `Contents: write`.",
            "properties": {
              "forwarding": {
                "type": "boolean"
              },
              "blocked": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "needs_permission": {
                "type": "boolean"
              },
              "approve_url": {
                "type": [
                  "string",
                  "null"
                ]
              }
            }
          }
        }
      },
      "CommitRequest": {
        "type": "object",
        "required": [
          "message",
          "operations"
        ],
        "properties": {
          "branch": {
            "type": "string",
            "default": "main"
          },
          "expected_parent": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optimistic concurrency: the branch must currently point here (null = branch must not exist; omitted = commit on the current tip)."
          },
          "message": {
            "type": "string"
          },
          "author": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "context": {
            "description": "Free-form audit blob recorded immutably with the commit."
          },
          "operations": {
            "type": "array",
            "maxItems": 10000,
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "required": [
                    "op",
                    "path",
                    "content"
                  ],
                  "properties": {
                    "op": {
                      "const": "put"
                    },
                    "path": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "op",
                    "path",
                    "content"
                  ],
                  "properties": {
                    "op": {
                      "const": "put_base64"
                    },
                    "path": {
                      "type": "string"
                    },
                    "content": {
                      "type": "string",
                      "contentEncoding": "base64"
                    }
                  }
                },
                {
                  "type": "object",
                  "required": [
                    "op",
                    "path"
                  ],
                  "properties": {
                    "op": {
                      "const": "delete"
                    },
                    "path": {
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "KindSummary": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "bytes": {
            "type": "integer"
          },
          "ms_sum": {
            "type": "integer"
          },
          "p50_ms": {
            "type": [
              "integer",
              "null"
            ]
          },
          "p99_ms": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "RepoHit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "org_id": {
            "type": "string"
          },
          "org": {
            "type": "string",
            "description": "Namespace name — a repo name alone is ambiguous across namespaces."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "public": {
            "type": "boolean"
          },
          "kind": {
            "type": "string",
            "enum": [
              "native",
              "mirror"
            ]
          },
          "created_at": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  },
  "paths": {
    "/v1/cache/twirp/github.actions.results.api.v1.CacheService/GetCacheEntryDownloadURL": {
      "post": {
        "summary": "actions/cache asks whether an archive is saved (cache service v2)",
        "description": "Not a route a person calls. The credential is the job's **cache token** (`github:cache`), handed to a runner with its registration and carried by the cache proxy in the container; it names the job, the job names the repository, and the repository is the scope. From anywhere else — a GitHub-hosted runner, via `weftsh/cache` — the credential is a **`repo:cache` token** minted like any other, and the repository is named in the `X-Weft-Repository` header as `owner/name`; the scope is the same (org, GitHub full name), so a save from either kind of runner is a hit for the other. Refusals are ordered 401 (no or unknown token), 403 (a token of another kind, or a repo:cache token restricted to one Weft repository), 400 (a repo:cache token with no usable header), 410 (the job is over). The body is `{key, version, restore_keys?}` as the client sends it (snake_case); the answer is `{ok, signed_download_url, matched_key}` — the exact key if a ready entry has it, else the newest under a restore-key prefix, else `ok: false`, which the client reads as a miss.",
        "responses": {
          "200": {
            "description": "{ ok, signed_download_url, matched_key }"
          },
          "400": {
            "description": "Malformed body"
          },
          "401": {
            "description": "No token, or one that does not authenticate"
          },
          "403": {
            "description": "A token not minted for the cache"
          },
          "410": {
            "description": "The job this token was minted for is over"
          }
        }
      }
    },
    "/v1/cache/twirp/github.actions.results.api.v1.CacheService/CreateCacheEntry": {
      "post": {
        "summary": "actions/cache starts a save",
        "description": "Not a route a person calls. The credential is the job's **cache token** (`github:cache`), handed to a runner with its registration and carried by the cache proxy in the container; it names the job, the job names the repository, and the repository is the scope. From anywhere else — a GitHub-hosted runner, via `weftsh/cache` — the credential is a **`repo:cache` token** minted like any other, and the repository is named in the `X-Weft-Repository` header as `owner/name`; the scope is the same (org, GitHub full name), so a save from either kind of runner is a hit for the other. Refusals are ordered 401 (no or unknown token), 403 (a token of another kind, or a repo:cache token restricted to one Weft repository), 400 (a repo:cache token with no usable header), 410 (the job is over). `{key, version}` reserves the entry for this repository and answers `{ok, signed_upload_url}`; a key already saved or being saved answers `ok: false`, which the client reads as \"already exists\" and skips its save.",
        "responses": {
          "200": {
            "description": "{ ok, signed_upload_url }"
          },
          "400": {
            "description": "Malformed body"
          },
          "401": {
            "description": "No token"
          },
          "403": {
            "description": "A token not minted for the cache"
          },
          "410": {
            "description": "The job is over"
          }
        }
      }
    },
    "/v1/cache/twirp/github.actions.results.api.v1.CacheService/FinalizeCacheEntryUpload": {
      "post": {
        "summary": "actions/cache finishes a save",
        "description": "Not a route a person calls. The credential is the job's **cache token** (`github:cache`), handed to a runner with its registration and carried by the cache proxy in the container; it names the job, the job names the repository, and the repository is the scope. From anywhere else — a GitHub-hosted runner, via `weftsh/cache` — the credential is a **`repo:cache` token** minted like any other, and the repository is named in the `X-Weft-Repository` header as `owner/name`; the scope is the same (org, GitHub full name), so a save from either kind of runner is a hit for the other. Refusals are ordered 401 (no or unknown token), 403 (a token of another kind, or a repo:cache token restricted to one Weft repository), 400 (a repo:cache token with no usable header), 410 (the job is over). `{key, version, size_bytes}` closes the reservation: the size must equal what the blob route received, and the entry becomes restorable.",
        "responses": {
          "200": {
            "description": "{ ok, entry_id }"
          },
          "400": {
            "description": "Nothing uploaded, or the size disagrees with what arrived"
          },
          "404": {
            "description": "No upload in progress under that key and version"
          },
          "409": {
            "description": "Already finalized"
          },
          "401": {
            "description": "No token"
          },
          "403": {
            "description": "A token not minted for the cache"
          },
          "410": {
            "description": "The job is over"
          }
        }
      }
    },
    "/v1/cache/blob/{entry}": {
      "put": {
        "summary": "The signed upload URL: the archive's bytes",
        "description": "Not a route a person calls. The credential is the job's **cache token** (`github:cache`), handed to a runner with its registration and carried by the cache proxy in the container; it names the job, the job names the repository, and the repository is the scope. From anywhere else — a GitHub-hosted runner, via `weftsh/cache` — the credential is a **`repo:cache` token** minted like any other, and the repository is named in the `X-Weft-Repository` header as `owner/name`; the scope is the same (org, GitHub full name), so a save from either kind of runner is a hit for the other. Refusals are ordered 401 (no or unknown token), 403 (a token of another kind, or a repo:cache token restricted to one Weft repository), 400 (a repo:cache token with no usable header), 410 (the job is over). What the client's Azure block-blob upload sends: one PUT for an archive up to 128 MiB, or blocks (`?comp=block&blockid=…`) followed by a block list (`?comp=blocklist`, Azure's XML) giving the archive's order. Only while the entry is reserving.",
        "responses": {
          "201": {
            "description": "Stored"
          },
          "400": {
            "description": "An empty body, a block list naming a block that never arrived, or an unsupported `comp`"
          },
          "404": {
            "description": "No such entry for this repository"
          },
          "409": {
            "description": "The entry is already finalized"
          },
          "401": {
            "description": "No token"
          },
          "403": {
            "description": "A token not minted for the cache"
          },
          "410": {
            "description": "The job is over"
          }
        }
      },
      "get": {
        "summary": "The signed download URL: the archive's bytes",
        "description": "Not a route a person calls. The credential is the job's **cache token** (`github:cache`), handed to a runner with its registration and carried by the cache proxy in the container; it names the job, the job names the repository, and the repository is the scope. From anywhere else — a GitHub-hosted runner, via `weftsh/cache` — the credential is a **`repo:cache` token** minted like any other, and the repository is named in the `X-Weft-Repository` header as `owner/name`; the scope is the same (org, GitHub full name), so a save from either kind of runner is a hit for the other. Refusals are ordered 401 (no or unknown token), 403 (a token of another kind, or a repo:cache token restricted to one Weft repository), 400 (a repo:cache token with no usable header), 410 (the job is over). Streams the archive's blocks in order; honours `Range` (206 with `Content-Range`), because the client downloads a large archive in concurrent ranged GETs.",
        "responses": {
          "200": {
            "description": "The archive"
          },
          "206": {
            "description": "The requested range"
          },
          "416": {
            "description": "A range outside the archive"
          },
          "404": {
            "description": "No such ready entry for this repository"
          },
          "401": {
            "description": "No token"
          },
          "403": {
            "description": "A token not minted for the cache"
          },
          "410": {
            "description": "The job is over"
          }
        }
      }
    },
    "/v1/orgs/{org}/runner-policy": {
      "get": {
        "summary": "What kinds of runner this organisation allows (org:read)",
        "description": "Two independent switches, because they answer opposite questions. `hosted` is \"may our work run on Weft's machines\"; `self_hosted` is \"may our work run on machines we registered\". An organisation that only trusts its own hardware turns the first off; one that does not want a stranger's change near its build box turns the second off.",
        "responses": {
          "200": {
            "description": "The policy as it stands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerPolicy"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Change the runner policy (org:admin)",
        "description": "Any subset of the three keys; an absent key is left alone. `self_hosted_repos` is a list of repository names and is replaced wholesale — `[]` clears it. Audited as `runner_policy.updated`. A refusal here is a refusal at trigger time rather than a job queued forever: a `runs-on: ubuntu-latest` file under `hosted: disabled` becomes a failed run reading \"hosted runners are disabled for this organisation; use runs-on: [self-hosted, …]\".",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hosted": {
                    "type": "string",
                    "enum": [
                      "allowed",
                      "disabled"
                    ]
                  },
                  "self_hosted": {
                    "type": "string",
                    "enum": [
                      "all",
                      "selected",
                      "disabled"
                    ]
                  },
                  "self_hosted_repos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Repository names in this organisation. A name that is not there is a 422 rather than a silent drop: a group that quietly admits four of the five somebody listed is a build that does not run and a settings page that says it should."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The policy as it now stands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerPolicy"
                }
              }
            }
          },
          "404": {
            "description": "No such organisation, or the caller is not an admin of it"
          },
          "422": {
            "description": "A value outside the enumeration, or a repository name that is not there"
          }
        }
      }
    },
    "/v1/orgs/{org}/runner-groups": {
      "get": {
        "summary": "Runner groups in this organisation (org:read)",
        "description": "A group is the unit a repository is admitted by, and every machine is in exactly one. Every organisation has a `default` group, created lazily the first time anything needs one — so this never answers an empty list.",
        "responses": {
          "200": {
            "description": "{ groups: […] }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "groups": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RunnerGroup"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a runner group (org:admin)",
        "description": "`repo_access` defaults to `all` and `allow_public` to false. Audited as `runner_group.created`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "repo_access": {
                    "type": "string",
                    "enum": [
                      "all",
                      "selected"
                    ],
                    "default": "all"
                  },
                  "allow_public": {
                    "type": "boolean",
                    "default": false
                  },
                  "repos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Repository names in this organisation. A name that is not there is a 422 rather than a silent drop: a group that quietly admits four of the five somebody listed is a build that does not run and a settings page that says it should."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerGroup"
                }
              }
            }
          },
          "404": {
            "description": "No such organisation, or the caller is not an admin of it"
          },
          "409": {
            "description": "A group of that name already exists"
          },
          "422": {
            "description": "An invalid name or `repo_access`, or a repository name that is not there"
          }
        }
      }
    },
    "/v1/orgs/{org}/runner-groups/{id}": {
      "patch": {
        "summary": "Change a runner group (org:admin)",
        "description": "Any subset; an absent key is left alone, and `repos` is replaced wholesale. The default group's name is fixed (422): it is the name printed in every registration command ever handed out, and renaming it would silently point those at nothing. Audited as `runner_group.updated`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "repo_access": {
                    "type": "string",
                    "enum": [
                      "all",
                      "selected"
                    ]
                  },
                  "allow_public": {
                    "type": "boolean"
                  },
                  "repos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Repository names in this organisation. A name that is not there is a 422 rather than a silent drop: a group that quietly admits four of the five somebody listed is a build that does not run and a settings page that says it should."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The group as it now stands",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerGroup"
                }
              }
            }
          },
          "404": {
            "description": "No such group in this organisation"
          },
          "409": {
            "description": "Another group already has that name"
          },
          "422": {
            "description": "An invalid value, or an attempt to rename the default group"
          }
        }
      },
      "delete": {
        "summary": "Delete a runner group (org:admin)",
        "description": "Its machines move to the default group rather than being removed: an operator tidying their groups has not asked to take thirty machines offline, and a runner whose group vanished would authenticate and then never be routed anything — the least debuggable failure this feature has. Any outstanding registration token for the group goes with it. The default group cannot be deleted. Audited as `runner_group.deleted`.",
        "responses": {
          "204": {
            "description": "Deleted; its machines are now in the default group"
          },
          "404": {
            "description": "No such group in this organisation"
          },
          "422": {
            "description": "This is the default group"
          }
        }
      }
    },
    "/v1/orgs/{org}/runners": {
      "get": {
        "summary": "The machines this organisation has registered (org:read)",
        "description": "Live machines only. A removed one is tombstoned rather than deleted — a job row names the machine that ran it, and a reader looking at last week's build should still be told which — but it is gone from here.",
        "responses": {
          "200": {
            "description": "{ runners: […] }",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runners": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Runner"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/orgs/{org}/runners/registration-token": {
      "post": {
        "summary": "Mint a single-use registration token (org:admin)",
        "description": "One hour, one machine. Hashed at rest like every other bearer secret here, because it travels through a shell history and a terminal scrollback on its way to the machine. `command` is the whole `weft-runner register` line spelled out — the alternative is a reader assembling it from three fields and getting `--url` wrong, which fails at registration with a network error that says nothing about which part was wrong. Audited as `runner.registration_token.created`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group": {
                    "type": "string",
                    "default": "default",
                    "description": "The group the machine will join."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The only time the token exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "`weftg_…`. Not recoverable."
                    },
                    "expires_at": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "group": {
                      "type": "string"
                    },
                    "command": {
                      "type": "string",
                      "description": "`weft-runner register --url … --token weftg_…`"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such organisation, or the caller is not an admin of it"
          },
          "422": {
            "description": "No group of that name"
          }
        }
      }
    },
    "/v1/orgs/{org}/runners/{id}": {
      "delete": {
        "summary": "Remove a machine (org:admin)",
        "description": "Its credential is dead from the next call it makes — which is the whole revocation mechanism, since nothing is listening on the operator's network to be told. A job running on it is failed, with the error \"runner removed while the job was running\", and deliberately not handed to the next machine in the group: an operator who removes a runner has decided the machine should stop, and a silent re-run somewhere else is the opposite of what they asked for. Audited as `runner.removed`.",
        "responses": {
          "204": {
            "description": "Removed"
          },
          "404": {
            "description": "No such machine in this organisation"
          }
        }
      }
    },
    "/v1/runners/register": {
      "post": {
        "summary": "Exchange a registration token for the machine's own credential",
        "description": "Not a route a person calls, and not a session or an API token: the bearer here is the one-hour `weftg_…` secret from the registration-token route, and it names the organisation and the group, so the machine never has to assert either. Every way the token can be wrong — malformed, unknown, already spent, expired — is the same 401, so it cannot be used to learn which organisations exist. Registering under a name that is already live replaces that machine, tombstoning the old row in the same transaction: that is how a credential is rotated, and how a reimaged machine comes back without somebody having to remove it by hand first. Audited as `runner.registered`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "os",
                  "arch"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Letters, digits, dot, dash, underscore; at most 64. Defaults to the hostname on the runner side."
                  },
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Custom labels only. `self-hosted`, the OS and the architecture are added by the server, so a job's `runs-on` can rely on them being there."
                  },
                  "os": {
                    "type": "string",
                    "enum": [
                      "linux",
                      "macos",
                      "windows"
                    ]
                  },
                  "arch": {
                    "type": "string",
                    "enum": [
                      "x64",
                      "arm64"
                    ]
                  },
                  "version": {
                    "type": "string"
                  },
                  "ephemeral": {
                    "type": "boolean",
                    "default": false,
                    "description": "Run one job, then de-register. The autoscaling shape."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The only time the credential exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "runner_id": {
                      "type": "string"
                    },
                    "credential": {
                      "type": "string",
                      "description": "`weftr_…`. Hashed at rest and never recoverable; re-register to get another."
                    },
                    "org": {
                      "type": "string"
                    },
                    "group": {
                      "type": "string"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The registration token is unknown, already used or expired"
          },
          "422": {
            "description": "A name, label, OS or architecture outside what is allowed"
          }
        }
      }
    },
    "/v1/runners/claim": {
      "post": {
        "summary": "Ask for work, and wait a while for some",
        "description": "The bearer is the machine's own `weftr_…` credential. A long poll: the server holds the request open for `STRATUM_RUNNER_CLAIM_WAIT_MS` (20 s by default), re-running its claim every 500 ms, and answers 204 if nothing came. That is the whole scaling story — asking every second is one query per machine per second forever, almost all of it answering \"nothing\"; asking every thirty is half a minute of latency on every build. Set the client's HTTP timeout longer than the server's wait, so a 204 arrives as a 204 rather than as a client-side timeout. Every call touches `last_seen_at`, which is what the runner list's `online` reading is made of. A job is routed to this machine only if its `runs-on` labels are a subset of the machine's, the machine's group admits the repository (and `allow_public` if it is public), and the organisation's policy admits self-hosted runners for it — three different people's decisions, all re-read here and not only at trigger time, because a job can sit in the queue across a settings change. On 200 the machine then uses exactly the five per-job calls a hosted runner uses, with the `token` from here.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Empty, and may be omitted."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A job was assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": {
                      "type": "string"
                    },
                    "token": {
                      "type": "string",
                      "description": "The per-job, per-attempt credential for the five runner calls: `repo:read` on one repository, revoked the moment the verdict lands."
                    },
                    "runner_url": {
                      "type": "string",
                      "description": "The base URL to report on — the address this machine already reached, not the public one. They are the same behind a CDN and differ on a private network."
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Nothing to run after the wait. Ask again."
          },
          "401": {
            "description": "This credential is unknown, or the machine has been removed. The runner prints that it has been removed and exits: there is no way back without registering."
          },
          "409": {
            "description": "{ error: \"busy\" } — this machine already holds a running job. A runner runs one job at a time, and a second would be work nobody ever reports on."
          }
        }
      }
    },
    "/v1/users/{handle}": {
      "get": {
        "summary": "A person's public profile",
        "description": "Display name, bio, location, company, pronouns, account kind (human or agent), links, and how many public repositories their namespace holds. Open to anonymous callers — this is the page a logged-out visitor lands on. It never carries an email address and never a private repository, and `public_repos` counts public repositories for every caller alike, so it cannot be watched to learn that a private one was created. A disabled account has no profile and answers 404; its namespace stays claimed so nobody can move in behind them.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ handle, name, display_name, bio, location, company, pronouns, kind, contrib_private_optin, profile_repo, created_at, links: [{ label, url }], public_repos }"
          },
          "404": {
            "description": "No such handle, or the account is disabled"
          }
        }
      },
      "patch": {
        "summary": "Edit your own profile",
        "description": "Every field is optional: an absent key leaves it alone, an explicit null clears it. `links` replaces the whole list (at most 5) and every url must be http or https — a profile link is rendered as an anchor on a page other people load, so `javascript:` and `data:` are refused. Nobody may patch anybody else's profile.",
        "responses": {
          "200": {
            "description": "The profile as it now reads"
          },
          "400": {
            "description": "A field is over its cap, holds a control character, or a link is not http(s)"
          },
          "401": {
            "description": "Not signed in"
          },
          "403": {
            "description": "This is somebody else's account"
          },
          "404": {
            "description": "No such handle"
          }
        }
      }
    },
    "/v1/users/{handle}/contributions": {
      "get": {
        "summary": "Somebody's contribution graph",
        "description": "One square per day, derived from the commits themselves rather than from activity on this platform — which is what makes a migrated history show up the moment it mirrors over. A commit counts only on one of two grounds: **email-verified**, the author address is a *proved* address on the account, or **pushed-by**, the credential that pushed it was that person's. An address nobody has proved counts for nothing, because anybody can write any string into `git config user.email`. Commit signatures are out of scope. A commit carrying a `Co-Authored-By` trailer is agent-assisted and counts for nobody.\n\nPrivate work appears only as a **number**, and only when its owner has opted in: `count` includes it, `repos` never names it, and there is no field holding it separately. `private_included` is false both for somebody opted out and for somebody with no private work — deliberately the same answer, since telling those apart would publish the existence of private work.\n\nAnonymous, and the same for every reader: a public page that says different things to different people is one nobody can quote. `from`/`to` are `YYYY-MM-DD` and default to the year ending today; at most 3653 days.",
        "security": [],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "{ from, to, total, private_included, days: [{ day, date, count, repos: [{ org, name, count }] }] } — only days with something on them"
          },
          "400": {
            "description": "A date that is not YYYY-MM-DD, a range that ends before it starts, or one longer than 3653 days"
          },
          "404": {
            "description": "No such handle"
          }
        }
      }
    },
    "/v1/users/{handle}/follow": {
      "get": {
        "summary": "Follower and following counts, and your own edge",
        "description": "Anonymous readers are welcome and see `you_follow: false`. The counts are counts of a public act.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ followers, following, you_follow }"
          },
          "404": {
            "description": "No such handle"
          }
        }
      },
      "put": {
        "summary": "Follow this person",
        "description": "Following twice is following once. Following yourself is refused in a sentence rather than reaching the table's CHECK, which would surface as a 500.",
        "responses": {
          "200": {
            "description": "The counts as they now read"
          },
          "400": {
            "description": "You cannot follow yourself"
          },
          "401": {
            "description": "Following is a person's act — not signed in, or a service token"
          },
          "404": {
            "description": "No such handle"
          }
        }
      },
      "delete": {
        "summary": "Unfollow this person",
        "description": "Unfollowing somebody you never followed is a request for the state you are already in, not an error.",
        "responses": {
          "200": {
            "description": "The counts as they now read"
          },
          "401": {
            "description": "Following is a person's act — not signed in, or a service token"
          },
          "404": {
            "description": "No such handle"
          }
        }
      }
    },
    "/v1/users/{handle}/followers": {
      "get": {
        "summary": "Who follows this person",
        "description": "Newest first, at most 100. Suspended accounts are absent — their public page is down, so naming them would link to a 404.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ people: [{ handle, display_name }] }"
          },
          "404": {
            "description": "No such handle"
          }
        }
      }
    },
    "/v1/users/{handle}/following": {
      "get": {
        "summary": "Who this person follows",
        "description": "Newest first, at most 100. Suspended accounts are absent.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ people: [{ handle, display_name }] }"
          },
          "404": {
            "description": "No such handle"
          }
        }
      }
    },
    "/v1/users/{handle}/pins": {
      "get": {
        "summary": "The repositories pinned to a profile",
        "description": "Filtered to what the caller may see. A pinned repository that has since been made private, or deleted, is absent: `public` is a flag its owner can flip after pinning, so a write-time refusal alone could never cover it.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ pins: [{ kind, org, name, description, public }] }"
          },
          "404": {
            "description": "No such handle"
          }
        }
      },
      "put": {
        "summary": "Replace your pin list (at most 6)",
        "description": "Body: { pins: [{ org, repo, kind? }] }; only `repo` may be pinned. A private repository can never be pinned. Repositories are resolved through the caller's own visibility first, so naming one they cannot see answers “no such repository” — the same thing a name that does not exist answers — rather than turning the pin form into an existence oracle for every private repository on the platform.",
        "responses": {
          "200": {
            "description": "The pin list as it now reads"
          },
          "400": {
            "description": "Over the cap, a duplicate, a private repository, an unknown repository, or a kind other than repo"
          },
          "401": {
            "description": "Not signed in"
          },
          "403": {
            "description": "This is somebody else's account"
          },
          "404": {
            "description": "No such handle"
          }
        }
      }
    },
    "/v1/users/{handle}/emails": {
      "get": {
        "summary": "The addresses on your own account, proved or not",
        "description": "Never public, and never readable by another account. This is the authorship-linkage surface — the set that decides which commits in the world count as this person's work — so publishing it would hand an impersonator the exact string to put in `git config user.email`, and a spammer a mailbox.",
        "responses": {
          "200": {
            "description": "{ emails: [{ address, verified_at, private, primary, created_at }] }"
          },
          "401": {
            "description": "Not signed in"
          },
          "403": {
            "description": "This is somebody else's account"
          },
          "404": {
            "description": "No such handle"
          }
        }
      },
      "post": {
        "summary": "Claim an address and mail it a confirmation link",
        "description": "Body: { email }. The claim is worth nothing on its own: the row lands unproved, and only a verified address may ever carry authorship. The link goes to the mailbox and never into the response — a claim confirmed over the API would prove nothing. It is bound both to the address and to this account, so it cannot be spent against a different mailbox or from a different session. At most 10 addresses per account.",
        "responses": {
          "202": {
            "description": "{ address, status, detail }"
          },
          "400": {
            "description": "Not an address, or the account is at its address limit"
          },
          "401": {
            "description": "Not signed in"
          },
          "403": {
            "description": "This is somebody else's account"
          },
          "409": {
            "description": "Already yours, or already in use. Which account holds it is never disclosed."
          }
        }
      }
    },
    "/v1/users/{handle}/emails/verify": {
      "post": {
        "summary": "Spend a confirmation link and mark that one address proved",
        "description": "Body: { token }. Every wrong shape — malformed, unknown, expired, already spent, or issued to another account — answers the same 404, so a link cannot be used to ask which addresses are registered here.",
        "responses": {
          "200": {
            "description": "{ address, verified: true }"
          },
          "401": {
            "description": "Not signed in"
          },
          "403": {
            "description": "This is somebody else's account"
          },
          "404": {
            "description": "This confirmation link is not valid any more"
          }
        }
      }
    },
    "/v1/users/{handle}/emails/{email}": {
      "delete": {
        "summary": "Drop an address from your account",
        "description": "The address you sign in with is refused — an account with no reachable address is one nobody can recover — and so is an address that is not yours, with the same answer.",
        "responses": {
          "204": {
            "description": "Removed"
          },
          "401": {
            "description": "Not signed in"
          },
          "403": {
            "description": "This is somebody else's account"
          },
          "404": {
            "description": "No such address on this account, or it is the address you sign in with"
          }
        }
      }
    },
    "/v1/orgs/{org}/profile": {
      "get": {
        "summary": "An organization's public face",
        "description": "Display name, description, location, website, contact address, and its public repository count. Open to anonymous callers. An org that has never been edited reads exactly like one whose fields were cleared — there is no second “no profile yet” state for a page to handle.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ org, display_name, description, location, website, contact_email, public_repos }"
          },
          "404": {
            "description": "No such org"
          }
        }
      },
      "patch": {
        "summary": "Edit an organization's profile (org:admin)",
        "description": "Optional fields; an explicit null clears one. `website` must be http or https and `contact_email` must be an address, for the same reason the personal profile holds them to it: both are rendered on a page anybody loads.",
        "responses": {
          "200": {
            "description": "The profile as it now reads"
          },
          "400": {
            "description": "A field is over its cap, the website is not http(s), or the contact address is not an address"
          },
          "401": {
            "description": "No credential"
          },
          "403": {
            "description": "Needs org:admin"
          },
          "404": {
            "description": "No such org, or the caller is not a member"
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "summary": "Sign in with email and password; sets an HttpOnly session cookie. Every failure — unknown address, wrong password, disabled account — answers 401 identically.",
        "security": [],
        "responses": {
          "200": {
            "description": "{ id, email, name, created_at, orgs: [{ id, name, role }] }"
          },
          "401": {
            "description": "invalid email or password"
          }
        }
      }
    },
    "/v1/auth/logout": {
      "post": {
        "summary": "End this session and clear the cookie. Answers 204 even without a valid session — a stale cookie still has to go.",
        "security": [],
        "responses": {
          "204": {
            "description": "signed out"
          }
        }
      }
    },
    "/v1/auth/me": {
      "get": {
        "summary": "The signed-in person and the orgs they can reach (session cookie)",
        "security": [],
        "responses": {
          "200": {
            "description": "{ id, email, name, created_at, orgs: [{ id, name, role }] }"
          },
          "401": {
            "description": "not signed in"
          }
        }
      }
    },
    "/v1/auth/accept-invite": {
      "post": {
        "summary": "Redeem an invitation link, creating the account if this is a new person, and sign in. Single use.",
        "security": [],
        "responses": {
          "201": {
            "description": "{ id, email, name, created_at, orgs: [...] } and a session cookie"
          },
          "400": {
            "description": "invite is unknown, expired, already used, or the name/password is unusable"
          }
        }
      }
    },
    "/v1/auth/invite/preview": {
      "post": {
        "summary": "What an invitation is for, before committing to it: the namespace, the role and the address it was sent to. No credentials — the token in the body is the credential.",
        "responses": {
          "200": {
            "description": "{ org, role, email, expires_at }"
          },
          "404": {
            "description": "every dead link answers identically — malformed, unknown, expired, already accepted or a wrong secret — so a link cannot be used to probe which invitations exist"
          }
        }
      }
    },
    "/v1/auth/signup": {
      "post": {
        "summary": "Create an account and its personal namespace, and mail a confirmation link. The handle is checked first and its refusals are plain — a namespace name is a public URL. Everything after that answers identically whether or not the address is already registered.",
        "responses": {
          "202": {
            "description": "{ status, detail } — always this, whether a message was sent, the address already has an account (its owner is mailed a note saying nothing was created), or the rate limit was hit"
          },
          "400": {
            "description": "invalid handle, address, name, or a password under 12 characters"
          },
          "409": {
            "description": "that handle is taken or reserved"
          }
        }
      }
    },
    "/v1/auth/verify": {
      "post": {
        "summary": "Redeem a confirmation link and sign in. Single-use; sets the session cookie.",
        "responses": {
          "200": {
            "description": "the account, as /v1/auth/me returns it"
          },
          "401": {
            "description": "the account is disabled"
          },
          "404": {
            "description": "malformed, unknown, spent, expired, or a reset token presented here"
          }
        }
      }
    },
    "/v1/auth/github/start": {
      "get": {
        "summary": "Begin signing in with GitHub. Answers a 303 to GitHub's authorization screen and parks a single-use anti-CSRF state in an HttpOnly `weft_ghauth` cookie; the callback refuses unless the `state` it is handed matches that cookie, which is what proves the browser finishing the flow is the one that started it. Takes no credentials — the caller is by definition not signed in yet. A deployment whose App has no OAuth client configured redirects to the dashboard with `github=unavailable` rather than leaving for a URL that cannot work.",
        "responses": {
          "303": {
            "description": "redirect to GitHub's authorization screen, or to the dashboard with `github=unavailable`"
          }
        }
      }
    },
    "/v1/auth/github/callback": {
      "get": {
        "summary": "GitHub sends a browser here after the authorization screen. The `state` must match the `weft_ghauth` cookie this browser was given, and the `code` is exchanged for the person's token to read `GET /user` and `GET /user/emails`. An account is resolved in three steps: the linked identity, keyed on GitHub's numeric user id so a renamed login still lands on it; then an account whose sign-in address matches one GitHub reports **primary and verified**; then a new account, created with no password and with its address already proved, so it may create immediately without a confirmation mail. Only the `verified` flag is trusted — an unproved primary answers `noemail` and makes nothing. Answers a redirect into the dashboard either way, carrying `github=ok|new|denied|expired|noemail|emailtaken|disabled|unavailable|error`; `ok` and `new` also set the session cookie, and `new` is the only one with onboarding left to do.",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "GitHub's user-authorization code, spent on the first exchange. Absent is `github=expired`."
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Must equal the `weft_ghauth` cookie, and neither may be empty. Absent, empty or mismatched is `github=expired` — one answer for all of them, so a callback cannot be used to probe."
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "GitHub's own refusal, `access_denied` when the person pressed Cancel. Reported as `github=denied`, which is a choice rather than a failure."
          }
        ],
        "responses": {
          "303": {
            "description": "redirect to the dashboard with the outcome in `github`"
          }
        }
      }
    },
    "/v1/auth/resend-verification": {
      "post": {
        "summary": "Send another confirmation link. Answers identically for a live account, an already-confirmed one, an unknown address and a malformed one.",
        "responses": {
          "202": {
            "description": "{ status, detail }"
          }
        }
      }
    },
    "/v1/auth/forgot-password": {
      "post": {
        "summary": "Mail a password-reset link. Same uniform answer as resend-verification. A disabled account gets no link — recovering one an operator switched off would undo the switching off.",
        "responses": {
          "202": {
            "description": "{ status, detail }"
          }
        }
      }
    },
    "/v1/auth/reset-password": {
      "post": {
        "summary": "Redeem a reset link, set a new password, and sign in. Ends every other session on the account. Password strength is checked before the link is spent, so a typo costs a retry rather than another trip through the inbox.",
        "responses": {
          "200": {
            "description": "the account, as /v1/auth/me returns it"
          },
          "400": {
            "description": "the new password is under 12 characters"
          },
          "401": {
            "description": "the account is disabled"
          },
          "404": {
            "description": "malformed, unknown, spent, expired, or a verification token presented here"
          }
        }
      }
    },
    "/v1/orgs": {
      "post": {
        "summary": "Create an organization, owned by the signed-in person. It is `free` the moment it exists — public repositories, members, the free hosted minutes — and no card is asked for: the payment provider is the merchant of record and only meets a card on its own subscription page, which the first private repository leads to. Nothing at the provider exists for the org until then. Requires a confirmed email address; a service token has nobody to own the result and is refused.",
        "responses": {
          "201": {
            "description": "{ id, name, plan: \"free\", billable_seats, detail }. `detail` says whether this deployment sells anything at all."
          },
          "400": {
            "description": "not a valid namespace name"
          },
          "401": {
            "description": "not signed in"
          },
          "403": {
            "description": "email address not confirmed"
          },
          "409": {
            "description": "that name is taken or reserved"
          }
        }
      }
    },
    "/v1/orgs/{org}/billing": {
      "get": {
        "summary": "What this organization costs and where it stands (org:admin). `billable_seats` is what we would charge for now; `paid_seats` is what the provider has been told. They differ between a membership change and the push that follows it.",
        "responses": {
          "200": {
            "description": "{ org, plan: \"free\" | \"paid\" | \"past_due\", billable_seats, paid_seats, status, period_start, current_period_end, may_create_public, may_create_private, may_add_people, packages_refusal, price_per_seat_cents, paid_minutes_per_seat, paid_egress_gb_per_seat, paid_storage_gb_per_seat, paid_packages_gb_per_seat, free_minutes, meters: { minutes, egress_gb, storage_gb, packages_gb }, overage_estimated_cents, spend_limit_cents, may_raise_spend_limit, metering: \"on\" | \"off\" | \"resubscribe\", rates: { cents_per_1000_minutes, cents_per_gb_egress, cents_per_gb_month_storage, cents_per_gb_month_packages }, ci_minutes_limit, ci_minutes_used, ci_minutes_remaining, ci_suspended_reason, ci_suspended_at, private_repos }. Each of the four `meters` is `{ included, used, remaining, overage, estimated_cents, refusing }`: `included` is the org-wide pool for the period \u2014 seats \u00d7 the per-seat figure \u2014 and is `null` where the meter is not metered at all, never `0`; \"0 left\" and \"no limit\" are opposite facts, and the zero that means metered-and-out is `remaining: 0`. `refusing` is true while that meter is turning work away (pool spent and spend limit reached); pages read the flag, never the refusal sentence. `estimated_cents` and `overage_estimated_cents` are estimates \u2014 the invoice is what counts. `spend_limit_cents` starts at 0 and is raised with PATCH \u2026/billing/spend-limit; `may_raise_spend_limit` is what a screen shows the button from (org admin, paid, metering on). `metering` is `off` on a deployment without metered prices, where the limit is pinned at 0 and the pool is a hard cap, and `resubscribe` for a subscription opened before metered prices existed. `price_per_seat_cents`, `paid_*_per_seat` and `rates` are null where nothing is for sale \u2014 a personal namespace, or a deployment with no payment provider \u2014 and the three `may_*` flags are true there. `packages_refusal` is the sentence a publish to this organization's registry would be refused with \u2014 a free plan, a personal namespace, a failed payment, or the package pool and spend limit spent \u2014 or `null` when it may publish; installing is never refused. `null` in either `ci_minutes_*` field is unlimited, not zero; those three say the minutes meter the older way and remain for clients that read them. A running job counts toward minutes from the moment it starts, so the number moves while builds run. On a paid org the meters follow the billing period, `period_start` to `current_period_end`; on a free namespace minutes are a rolling thirty days and `period_start` is null. `private_repos` counts the active private repositories here, and is read together with `plan`: `free` is where a cancelled subscription lands, private repositories and all, so a page that says the first private repository starts a subscription, to an organization already holding three of them, is wrong twice \u2014 they exist, and subscribing is the only way to write to them again."
          },
          "404": {
            "description": "no such org, or not yours"
          }
        }
      },
      "post": {
        "summary": "Open the provider's billing portal (org:admin), where cards, invoices and cancellation live — building that here would mean handling card details. There is nothing to manage until a subscription exists: the card arrives with it, on the provider's subscription page. The browser is sent back to this deployment's own billing screen — a page that can be told where to land afterwards is an open redirect wearing a payment flow.",
        "responses": {
          "200": {
            "description": "{ url, kind: \"portal\" }"
          },
          "402": {
            "description": "`card: nothing to manage yet … subscribe first` — no subscription has been opened"
          },
          "400": {
            "description": "a personal namespace is free and has nothing to subscribe"
          },
          "404": {
            "description": "no such org, or not yours"
          },
          "502": {
            "description": "the payment provider could not be reached"
          },
          "503": {
            "description": "billing is not configured on this deployment"
          }
        }
      }
    },
    "/v1/orgs/{org}/billing/spend-limit": {
      "patch": {
        "summary": "Raise or lower what this organization may be invoiced past its pool this period (org:admin). Body `{ spend_limit_cents }`, a whole non-negative number of cents. A new organization's limit is 0, so nothing past the pool is billable until an owner or admin asks for it here; at the limit hosted jobs wait, clones of private repositories are refused, and a push that would take private storage past it is refused, each with a sentence saying why. The change applies at once — a job that was waiting is dispatched on the next poll, and lowering it below what has already been used refuses new work without unwinding anything.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "spend_limit_cents"
                ],
                "properties": {
                  "spend_limit_cents": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The most the organization agrees to be invoiced past the pool in a billing period, in cents. 0 means the pool is a hard cap."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the billing view, as GET returns it, with the new `spend_limit_cents` in it"
          },
          "400": {
            "description": "`spend_limit_cents` is negative, fractional, or missing"
          },
          "402": {
            "description": "a free organization has no pool to be past; subscribe first"
          },
          "404": {
            "description": "no such org, or not yours — including a member who is not an owner or admin, masked like every other organization-admin route"
          },
          "503": {
            "description": "this deployment carries no metered prices (`metering: \"off\"`), so nothing could charge the amount; the limit stays pinned at 0"
          }
        }
      }
    },
    "/v1/orgs/{org}/billing/subscribe": {
      "post": {
        "summary": "Send the person to the provider's subscription page (org:admin). This is the paid plan's front door and it is a redirect rather than a confirmation, because a promotion code can only be redeemed on the provider's own page: the Checkout carries the seat price for the seats in use today, the saved card already on it, and a promotion-code box. Nothing is written here — the subscription the page opens arrives on the provider's `customer.subscription.created` webhook, which moves the plan to `paid`; the page comes back to `…/dashboard/settings/billing?subscribed=done` (or `?subscribed=cancelled`), and a repository creation refused with 402 succeeds once the webhook has landed. An org already paying gets its billing view back rather than a page. No idempotency key: a key would hand an expired session back for a day, so a second click before finishing is a second harmless page.",
        "responses": {
          "200": {
            "description": "`{ url, kind: \"checkout\" }` — the provider's subscription page to send the browser to; or, for an org already paying, the billing view as GET returns it with `plan: \"paid\"`"
          },
          "400": {
            "description": "a personal namespace is free and has nothing to subscribe"
          },
          "402": {
            "description": "`card: …` — no card on file yet; add one from Billing first. A card is accepted or declined on the provider's page now, never here"
          },
          "404": {
            "description": "no such org, or not yours"
          },
          "502": {
            "description": "the payment provider could not be reached"
          },
          "503": {
            "description": "billing is not configured on this deployment"
          }
        }
      }
    },
    "/webhooks/stripe": {
      "post": {
        "summary": "Stripe's webhook. Verifies the timestamped HMAC in `Stripe-Signature` within a five-minute tolerance, then reconciles checkout completion, subscription updates and failed payments. Replays are acknowledged without acting twice; event types and subscriptions it does not recognise are acknowledged and ignored.",
        "responses": {
          "200": {
            "description": "{ org, plan } — or { duplicate | unknown_org | ignored }"
          },
          "400": {
            "description": "missing, malformed, forged or stale signature"
          },
          "503": {
            "description": "billing is not configured on this deployment"
          }
        }
      }
    },
    "/v1/auth/password": {
      "post": {
        "summary": "Change your own password. Requires the current one, and ends every other session you hold.",
        "security": [],
        "responses": {
          "204": {
            "description": "changed; this session survives, others are revoked"
          },
          "400": {
            "description": "the new password is too short"
          },
          "401": {
            "description": "not signed in, or the current password is wrong"
          }
        }
      }
    },
    "/v1/orgs/{org}/members": {
      "get": {
        "summary": "The org roster (org:read)",
        "responses": {
          "200": {
            "description": "{ members: [{ user_id, email, name, role, disabled, created_at }] }"
          }
        }
      }
    },
    "/v1/orgs/{org}/members/{user}": {
      "patch": {
        "summary": "Change a member's role: owner | admin | member | viewer (org:admin)",
        "responses": {
          "204": {
            "description": "changed"
          },
          "400": {
            "description": "unknown role"
          },
          "404": {
            "description": "no such member"
          },
          "409": {
            "description": "that would leave the org without an owner"
          }
        }
      },
      "delete": {
        "summary": "Remove a member — ends their sessions and every credential they hold here, on the next request (org:admin)",
        "responses": {
          "204": {
            "description": "removed"
          },
          "404": {
            "description": "no such member"
          },
          "409": {
            "description": "that would leave the org without an owner"
          }
        }
      }
    },
    "/v1/orgs/{org}/origins/probe": {
      "post": {
        "summary": "Check an origin before creating a mirror against it (org:admin). Body: { origin } — a git URL, `owner/repo`, or a browser URL; it is normalised. Answers 200 whether or not the origin was reachable: the probe succeeded either way and the finding is in the body. https only, no redirects followed, and any host resolving inside private address space is refused. Rate-limited per org.",
        "responses": {
          "200": {
            "description": "{ reachable, private, default_branch, refs, reason }. `private` true means it exists but needs credentials — connect GitHub."
          },
          "429": {
            "description": "too many probes for this org"
          }
        }
      }
    },
    "/v1/orgs/{org}/teams": {
      "get": {
        "summary": "Teams in this org (org:read).",
        "responses": {
          "200": {
            "description": "{ teams: [{id, name, description, created_at, member_count}] }"
          }
        }
      },
      "post": {
        "summary": "Create a team (org:admin). Body: { name, description? }. Names are case-folded and unique within the org.",
        "responses": {
          "201": {
            "description": "{ id, name, description, created_at, member_count }"
          },
          "400": {
            "description": "invalid or duplicate name"
          }
        }
      }
    },
    "/v1/orgs/{org}/teams/{team}": {
      "patch": {
        "summary": "Rename a team or change its description (org:admin). Body: { name?, description? }.",
        "responses": {
          "204": {
            "description": "updated"
          },
          "400": {
            "description": "invalid or duplicate name"
          },
          "404": {
            "description": "no such team"
          }
        }
      },
      "delete": {
        "summary": "Delete a team (org:admin). Its membership and every grant it carries go with it, effective on the next request.",
        "responses": {
          "204": {
            "description": "deleted"
          },
          "404": {
            "description": "no such team"
          }
        }
      }
    },
    "/v1/orgs/{org}/teams/{team}/members": {
      "get": {
        "summary": "Who is in this team (org:read).",
        "responses": {
          "200": {
            "description": "{ members: [{user_id, email, name, created_at}] }"
          },
          "404": {
            "description": "no such team"
          }
        }
      }
    },
    "/v1/orgs/{org}/teams/{team}/members/{user}": {
      "put": {
        "summary": "Put someone in a team (org:admin). They must already be a member of the org. Idempotent.",
        "responses": {
          "204": {
            "description": "in the team"
          },
          "400": {
            "description": "not a member of this org, or no such team"
          }
        }
      },
      "delete": {
        "summary": "Take someone out of a team (org:admin).",
        "responses": {
          "204": {
            "description": "removed"
          },
          "404": {
            "description": "not in that team"
          }
        }
      }
    },
    "/v1/orgs/{org}/invites": {
      "post": {
        "summary": "Invite someone by email at a role (org:admin). The invitation is emailed when a mail transport is configured, and the link is also returned so an admin can deliver it by hand when one is not.",
        "responses": {
          "201": {
            "description": "{ id, email, role, expires_at, invite_link, mail: { sent, error? } } — `sent` is false with no `error` when no transport is configured."
          },
          "400": {
            "description": "unusable address, unknown role, or an invitation is already outstanding"
          }
        }
      },
      "get": {
        "summary": "Invitations issued for this org, accepted ones included (org:admin)",
        "responses": {
          "200": {
            "description": "{ invites: [{ id, email, role, created_at, expires_at, accepted_at }] }"
          }
        }
      }
    },
    "/v1/orgs/{org}/invites/{id}": {
      "delete": {
        "summary": "Revoke an outstanding invitation — the link stops working immediately (org:admin)",
        "responses": {
          "204": {
            "description": "revoked"
          },
          "404": {
            "description": "no such outstanding invitation"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos": {
      "post": {
        "summary": "Create a repo (p50 < 100 ms)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "public": {
                    "type": "boolean",
                    "default": false
                  },
                  "default_branch": {
                    "type": "string",
                    "default": "main"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 512,
                    "description": "One line about the repo. Searchable; visible to anyone who can see the repo."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repo"
                }
              }
            }
          },
          "402": {
            "description": "`quota:` — this namespace may not hold what was asked for: a private repository in a personal namespace (private work lives in an organization; the sentence begins `quota: private repositories live in an organization`), a private repository in an organization on the free plan (subscribe from Billing and replay), an organization with no card on file, or a free namespace at the free-tier repository cap. Nothing is created."
          },
          "409": {
            "description": "Name already exists"
          }
        }
      },
      "get": {
        "summary": "List repos (keyset pagination; fleets of millions list fine)",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor: last id from the previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of repos with next_after cursor"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/batch/create": {
      "post": {
        "summary": "Create up to 1000 repos in one call",
        "responses": {
          "200": {
            "description": "Per-item results, request order"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/batch/delete": {
      "post": {
        "summary": "Delete up to 1000 repos by name",
        "responses": {
          "200": {
            "description": "Per-item results"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}": {
      "get": {
        "summary": "Get a repo",
        "responses": {
          "200": {
            "description": "The repo"
          }
        }
      },
      "delete": {
        "summary": "Delete a repo (instant tombstone; storage swept by GC)",
        "description": "The row is tombstoned at once and the storage is swept by GC later. Side effects that are not deferred: forks are detached and survive, and CI stops — every run still going is cancelled with \"the repository was deleted\", its jobs and their mirrored check runs settle as `cancelled`, tasks that were already launched are stopped and their job tokens revoked, and queued jobs are never handed out. Without that last part a deleted repository goes on holding slots of the organisation's CI concurrency until each job's timeout expires.",
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      },
      "patch": {
        "summary": "Edit a repo's description, homepage, visibility, default branch, or the installation a mirror pushes through",
        "description": "One handler, four fields, three different authorities. `description` absent leaves it alone; `null` or \"\" clears it, and editing it needs only repo:write. `homepage` behaves identically and carries the same authority, with one extra rule: it must be an absolute http:// or https:// URL. It is rendered as an anchor on a page other people load, so `javascript:` and `data:` are refused for the same reason profile links are — and a scheme-less \"example.com\" is refused rather than repaired, since prepending one is wrong exactly when it produces a relative URL resolving against this host. Changing `public` requires org:admin and is recorded in the audit trail. `default_branch` requires org:admin and the branch must already exist; a mirror's default branch follows its origin and cannot be set here. `installation_id` attaches the GitHub App installation a mirror forwards pushes through — org:admin, GitHub mirrors only, and the organization must have connected it (an id it never earned is a 404, exactly as at creation).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 512
                  },
                  "homepage": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 512,
                    "description": "Absolute http:// or https:// URL, or null/\"\" to clear. Absent leaves it alone."
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "default_branch": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "installation_id": {
                    "type": "string",
                    "description": "A GitHub App installation this organization has connected; the mirror forwards pushes through it from then on."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The repo as it now is",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repo"
                }
              }
            }
          },
          "400": {
            "description": "Description or homepage too long or not one line of text, a homepage that is not an absolute http(s) URL, an invalid branch name, or `installation_id` on something other than a GitHub mirror"
          },
          "401": {
            "description": "No credentials — same answer as for a repo that does not exist"
          },
          "403": {
            "description": "A mirror's default branch follows its origin"
          },
          "404": {
            "description": "No such repo, not yours, an unknown branch, or publishing without org:admin"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}/forks": {
      "post": {
        "summary": "Fork a repository into another namespace. The fork shares upstream's storage and costs nothing until the two histories diverge; it is created immediately and becomes readable a moment later, which `fork_state` reports. Answers 202 rather than 201 deliberately: the row exists synchronously and the storage pointers are written by a job, so the honest answer is \"accepted, and here is where to look\". Body is optional — `org` defaults to the caller's own namespace and `name` to the source repository's name.",
        "responses": {
          "202": {
            "description": "{ id, org, name, fork_state: \"pending\", … the usual repo view }"
          },
          "200": {
            "description": "the fork you already have of this repository at that `org`/`name`, unchanged — forking twice is how most people find their fork again, so the answer is the fork and not a refusal. Nothing was created."
          },
          "401": {
            "description": "not a person (no session, or a service token)"
          },
          "409": {
            "description": "`org`/`name` is taken by a repository that is not a fork of this one; the body names it and says to fork under another name"
          },
          "402": {
            "description": "`quota:` — the target namespace may not hold what the fork would be: a private source into a personal namespace (private work lives in an organization) or into an organization whose plan admits only public repositories, an organization with no card on file, or a `free` namespace (every personal namespace is one) already at the free-tier repository cap — forks count like created repositories. Nothing is created."
          }
        }
      },
      "get": {
        "summary": "List the repositories forked directly from this one. `count` is the number of forks **this caller may see** and always equals the length of `forks` — never a stored total. A fork inherits its source's visibility but its owner may make it private afterwards, so publishing the stored number would tell every visitor exactly how many private forks exist. If this ever paginates, `count` stays \"total visible to you\" rather than becoming \"this page\".",
        "responses": {
          "200": {
            "description": "{ forks: [{ org, name, public }], count }"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}/grants": {
      "post": {
        "summary": "Grant a role on this repo alone (org:admin). Body names either people — { user_id, role } or { user_ids: [...], role } — or a team, { team_id, role }, never both. A grant naming people replaces their org role here in either direction; a team grant only ever raises. `owner` is an org role and is refused. A batch is all-or-nothing: if any id is not a member of this org, nothing is granted.",
        "responses": {
          "204": {
            "description": "granted"
          },
          "400": {
            "description": "unknown role, a role no repo can carry, a user who is not a member of this org, people and a team in one body, or neither"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}/grants/{user}": {
      "delete": {
        "summary": "Remove a per-repo grant; the member's org role applies here again (org:admin)",
        "responses": {
          "204": {
            "description": "revoked"
          },
          "404": {
            "description": "no such grant"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}/team-grants/{team}": {
      "delete": {
        "summary": "Withdraw a team's grant on this repo (org:admin).",
        "responses": {
          "204": {
            "description": "revoked"
          },
          "404": {
            "description": "no such grant"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}/access": {
      "get": {
        "summary": "Everyone who can reach this repo and where their access came from, plus the teams granted on it (org:admin). Each person carries `source`: org_role | direct_grant | team.",
        "responses": {
          "200": {
            "description": "{ people: [{user_id, email, name, role, source, team_id, team_name}], teams: [{team_id, team_name, role, member_count}] }"
          }
        }
      }
    },
    "/v1/orgs/{org}/repos/{repo}/commits": {
      "post": {
        "summary": "Create a commit from tree operations (no git checkout anywhere)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "{ commit, tree, parent, branch }; durable at ack. On a mirror the commit went to the origin first and is served here only once the origin took it."
          },
          "403": {
            "description": "On a mirror: the origin refused it (its own sentence, per branch, in `refused`), the mirror has no credential that can push, or the installation behind it has not approved `Contents: write` (`needs_permission: true` with `approve_url`)"
          },
          "409": {
            "description": "expected_parent mismatch; body carries current_tip. On a mirror, also a mirror that was behind its origin and has just caught up: fetch the tip and try again"
          },
          "502": {
            "description": "On a mirror: the origin did not answer"
          }
        }
      }
    },
[...]
